<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    
    
    <div ng-controller="MyCtrl1">
        <div ng-show="isEventTypesEmpty">Loading please wait... </div>
        <input type="text" data-ng-model="search"/>
        <div data-ng-repeat="eventtype in FleetEventTypes | filter:search">{{ eventtype.Name | truncatetext:10 }}</div>
    </div>


    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
