<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    
    
    <div ng-controller="MyCtrl1">
        <input type="text" ng-model="specialMessage.message"/><br />
        Controller 1: {{ specialMessage.message }}
    </div>
    <hr/>
    <div ng-controller="MyCtrl2">
        <input type="text" ng-model="warningMessage.message"/><br/>
        Controller 2: {{ warningMessage.message }}
    </div>


    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
